body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 10px auto;
}

h1 {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    text-transform: uppercase;
}

ol .new-item {
    font-weight: bold;
    /* color: lightblue; */
    /* padding: 4px; */
    /* border-radius: 4px; */
}

ol .admin-item {
    color: rgb(210, 98, 90);
}